<div>
  <p><a href="/" title="FedEx">FedEx</a></p>
</div>
<div>
  <ul>
    <li>Shipping
      <ul>
        <li><a href="/en-us/shipping/create.html">Create a Shipment</a></li>
        <li><a href="/en-us/online/rating.html">Shipping Rates &amp; Delivery Times</a></li>
        <li><a href="/en-us/shipping/schedule-manage-pickups.html">Schedule &amp; Manage Pickups</a></li>
        <li><a href="/en-us/shipping/packing/supplies.html">Packing &amp; Shipping Supplies</a></li>
        <li><a href="/en-us/international-shipping-guide.html">International Shipping Guide</a></li>
        <li><a href="/en-us/shipping/freight-services.html">Freight</a></li>
        <li><a href="/en-us/returns.html">Manage a Return</a></li>
        <li><strong><a href="/en-us/shipping.html">All Shipping Services</a></strong></li>
      </ul>
    </li>
    <li>Tracking
      <ul>
        <li><a href="/en-us/tracking/advanced.html">Advanced Shipment Tracking</a></li>
        <li><a href="/en-us/delivery-manager.html">Manage Your Delivery</a></li>
        <li><strong><a href="/en-us/tracking.html">All Tracking Services</a></strong></li>
      </ul>
    </li>
    <li>Design &amp; Print
      <ul>
        <li><a href="/en-us/printing.html">Explore Print, Products &amp; Design</a></li>
        <li><a href="/en-us/printing/services.html">Browse Services</a></li>
        <li><strong><a href="/en-us/printing/marketplace.html">Visit New Marketplace</a></strong></li>
      </ul>
    </li>
    <li>Locations
      <ul>
        <li><a href="/en-us/shipping/dropoff.html">Drop Off a Package</a></li>
        <li><a href="/en-us/locations.html">Find a Location</a></li>
      </ul>
    </li>
    <li>Support
      <ul>
        <li><a href="/en-us/small-business.html">Small Business Center</a></li>
        <li><a href="/en-us/service-guide.html">FedEx Service Guide</a></li>
        <li><a href="/en-us/account-management-tools.html">Account Management Tools</a></li>
        <li><a href="/en-us/faq.html">Frequently Asked Questions</a></li>
        <li><a href="/en-us/customer-support/claims.html">File a Claim</a></li>
        <li><a href="/en-us/billing.html">Billing &amp; Invoicing</a></li>
        <li><a href="/en-us/customer-support.html">Customer Support</a></li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li>Sign Up or Log In
      <ul>
        <li><strong><a href="/en-us/secure-login.html">Sign Up / Log In</a></strong></li>
        <li><a href="/en-us/profile.html">My profile</a></li>
        <li><a href="/en-us/admin-tools.html">Administrative tools</a></li>
        <li><a href="/en-us/email-preferences.html">Email preferences</a></li>
        <li><a href="/en-us/address-book.html">Address book</a></li>
        <li><a href="/en-us/billing.html">View &amp; pay bill</a></li>
        <li><a href="/en-us/reporting.html">Reporting</a></li>
        <li><a href="/en-us/open-account.html">Open an account</a> to save on shipping costs, time-saving tools and more!</li>
      </ul>
    </li>
    <li><span class="icon icon-search"></span> <a href="/en-us/search.html">Search</a></li>
  </ul>
</div>
